name: Create docker images (manual)

on:
    workflow_dispatch:
        inputs:
            version:
                type: string
                description: Version
                required: true

jobs:
    build:
        name: Build, push, and deploy
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - uses: mr-smithers-excellent/docker-build-push@v6
              name: Build & push Docker image for chatchat ${{inputs.version}}
              with:
                  image: umami
                  tags: ${{ inputs.version }}, latest
                  registry: ghcr.io
                  multiPlatform: true
                  platform: linux/amd64,linux/arm64
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
